<img src="img/arg.svg" class="flag" @onclick="@(() => SetCulture("es"))"/>
<img src="img/br.svg" class="flag" @onclick="@(() => SetCulture("pt"))" />
<img src="img/gb.svg" class="flag" @onclick="@(() => SetCulture("en"))" />

<p>@localizer["Greeting"]</p>

@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@inject IStringLocalizer<Resource> localizer;

@code {

    private void SetCulture(string language)
    {
        if(CultureInfo.CurrentCulture.ToString() != language)
        {
            CultureInfo selectedLanguage = new CultureInfo(language);
            CultureInfo.CurrentCulture = selectedLanguage;
            CultureInfo.DefaultThreadCurrentCulture = selectedLanguage;
            CultureInfo.DefaultThreadCurrentUICulture = selectedLanguage;

            // AQUI VOCÊ NAVEGA PARA A ROTA ATUAL, PORÉM COMO O PARÂMETRO culture SETADO COM O IDIOMA SELECIONADOO
            //NavigationManager.NavigateTo("algum lugar", forceLoad: true);
        }
    }

}
